.flex{
  display:flex;
}
.flex-column{
  flex-direction: column;
}
.flex-1{
    flex:1
}
.items-center {
  align-items: center;
}

.gap-1{
  gap:10px;
}
.gap-2{
  gap:15px;
}

.justify-between {
  justify-content: space-between;
}